body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=email], input[type=password] {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.button {
  background-color:#150469;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200px;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
 
}
.form{
    background-color:#ed8d07; 
   width:340px;
   height:420px;
   margin-bottom:100px;
   margin-left:480px;
   border-radius:30px;
   
}
#log{
    font-family: Impact, Charcoal, sans-serif;
    padding-top:10px;
    color:#150469;
}
.em{
    color:#150469;
    font-size:23px;
    text-align: left;
    font-family:  "Comic Sans MS", cursive, sans-serif;
}
#signup{
    background-color:red;
    color: white;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    width: 50px;
    border-radius: 5px;
}
#passn{
margin-right:10px;

color:#150469;
font-size:19px;
text-align: center;
font-family:  "Comic Sans MS", cursive, sans-serif;
}
